* {
  font-family: "Poppins", sans-serif;
}

.welcome_component {
  width: 100%;
  margin: auto;

  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(/public/images/piratePals1.png);
  background-size: cover;
  background-position: center;
}

.welcome_text {
  background-color: transparent;
  color: white;
  font-size: 75px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pirateTitle {
  /* border: 1000px yellow;
  color: blue; */
  text-align: center;
}

.what_piratePals {
  color: black;
}

.piratePals_container_mission {
  display: flex;
  height: 45.5vh;
}

.what_piratePals {
  flex-grow: 1;
  flex-basis: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 35px;

  border-radius: 100px;
  border-color: 10px grey;
}

.piratePicture {
  flex-basis: 200px;

  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pirateImage {
  width: 175px;

  height: auto;
  background-color: transparent;
}

.mission_statement_component {
  height: 40vh;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(/public/images/piratePals4.jpg);
  background-size: cover;
  background-position: center;
}

.our_mission {
  padding-top: 55px;
  font-weight: bolder;

  flex-basis: 10px;
  background-color: transparent;
  color: white;

  font-size: 3em;
}

.mission_statement {
  padding-top: 60px;
  background-color: transparent;

  height: 75vh;

  text-align: center;
  flex-basis: 10px;
  flex-grow: 1;
  color: rgb(255, 254, 254);
}
