* {
  background-color: rgb(255, 255, 255);
}

/* Meet our Team Page */

.exec-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meet-the-board-title {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0px 20px 0px;
}

.text-position {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.rows {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  padding: 20px 0px 20px 0px;
}

.president {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.president-img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.vice-president {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vice-president-img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.treasurer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.treasurer-img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.secretary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.secretary-img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

/* Contact Us Page */

.contact-us-component {
  margin: 0rem 1rem 1rem 1rem;
  align-items: center;
  justify-content: center;

  height: 500px;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(/public/images/contact-us.jpg);
  background-size: cover;
  background-position: center;
}

.contact-us {
  background-color: transparent;
  color: white;
  font-size: 3em;
}
.contact-us-email {
  background-color: transparent;
  color: white;
  font-size: 2em;
}
.contact-us-phone {
  background-color: transparent;
  color: white;
  font-size: 2em;
}

.contact-us-message {
  background-color: transparent;
  color: white;
  font-size: 2em;
}

.contact-us-faq-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq {
  margin-bottom: 10px;
}

.question {
  margin-bottom: 10px;
}

.answer {
  margin-bottom: 10px;
}

/* Get Involved Page */

.get-involved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-involved-title {
  padding: 30px 0px 20px 0px;
}

.vice-president {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groupme-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 0px 20px 0px;
}

.instagram-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 0px 20px 0px;
}

.engage-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 0px 20px 0px;
}

.groupme {
  width: auto;
  height: 200px;
  object-fit: fit;
}

.instagram {
  width: auto;
  height: 200px;
  object-fit: fit;

  background-color: transparent;
}

.engage {
  width: auto;
  height: 200px;
  object-fit: fit;

  background-color: transparent;
}
